# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Archivos de Excel
~$*.xlsx
~$*.xls

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Carpetas de IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archivos temporales
*.tmp
*.bak